<form [formGroup]="myForm" dir="rtl" class='main-content'>
	<mat-card>
		<mat-card-header>
			<mat-card-title>المندوبين</mat-card-title>
		</mat-card-header>
		<mat-card-content>

			<mat-card>
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<!-- الكود -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Code" type="text"
							placeholder="الكود">
					</mat-form-field>
					<!-- الاسم -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Name" type="text"
							placeholder="الاسم">
					</mat-form-field>
					<!-- رقم الفايبر -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="ViberNo" type="text"
							placeholder="رقم الفايبر">
					</mat-form-field>
					<!-- رقم الواتساب -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="WhatsAppNo" type="text"
							placeholder="رقم الواتساب">
					</mat-form-field>
					<!-- رقم البطاقة -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="IDNo" type="text"
							placeholder="رقم البطاقة">
					</mat-form-field>
					<!-- البريد الإلكتروني -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Email" type="text"
							placeholder="البريد الإلكتروني">
					</mat-form-field>
					<!-- المحمول -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Mobile" type="text"
							placeholder="المحمول">
					</mat-form-field>
				</div>
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<div fxFlex>
						<app-toolbar AddNewButton='true' AddNewRoute="/Masters/Representatives/0" SearchButton='true'
							(OnSearch)='Display()' ClearButton='true' (OnClear)='Clear()'>
						</app-toolbar>
					</div>
				</div>
			</mat-card>
			<br>

			<div class="mat-elevation-z8" [formGroup]="myForm" flFlex flexLayout="row" flexLayout.lt-md="column">

				<mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>

				<table mat-table #table [dataSource]="dataSource" matSort>

					<!-- RowNo Column -->
					<ng-container matColumnDef="RowNo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
						<td mat-cell *matCellDef="let row">
							<div [class.editing]="row?.ID === Representative?.ID">
								<span *ngIf="row?.ID !== Representative?.ID">{{ row.RowNo }}</span>
							</div>
						</td>
					</ng-container>

					<!-- Code Column -->
					<ng-container matColumnDef="Code">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Code }}
						</td>
					</ng-container>


					<!-- Status Column -->
					<ng-container matColumnDef="Status">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>فعال</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Status }}
						</td>
					</ng-container>


					<!-- Name Column -->
					<ng-container matColumnDef="Name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الاسم</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Name }}
						</td>
					</ng-container>


					<!-- ViberNo Column -->
					<ng-container matColumnDef="ViberNo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الفايبر</th>
						<td mat-cell *matCellDef="let row">
							{{ row.ViberNo }}
						</td>
					</ng-container>


					<!-- WhatsAppNo Column -->
					<ng-container matColumnDef="WhatsAppNo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الواتساب</th>
						<td mat-cell *matCellDef="let row">
							{{ row.WhatsAppNo }}
						</td>
					</ng-container>


					<!-- IDNo Column -->
					<ng-container matColumnDef="IDNo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>رقم البطاقة</th>
						<td mat-cell *matCellDef="let row">
							{{ row.IDNo }}
						</td>
					</ng-container>


					<!-- Email Column -->
					<ng-container matColumnDef="Email">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>البريد الإلكتروني</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Email }}
						</td>
					</ng-container>


					<!-- Mobile Column -->
					<ng-container matColumnDef="Mobile">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>المحمول</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Mobile }}
						</td>
					</ng-container>


					<!-- Address Column -->
					<ng-container matColumnDef="Address">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>العنوان</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Address }}
						</td>
					</ng-container>


					<!-- Buttons -->
					<ng-container matColumnDef="Links">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<ul>
								<li>
									<a mat-icon-button routerLink="/Masters/Representatives/{{row.ID}}"
										matTooltip='تفاصيل'>
										<mat-icon color="primary">info_outline</mat-icon>
									</a>
								</li>
								<li>
									<button mat-icon-button color="warn" matTooltip='حذف' (click)='Delete(row.ID)'>
										<mat-icon aria-label="delete">delete_forever</mat-icon>
									</button>
								</li>
							</ul>
						</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</mat-card-content>
		<mat-card-actions align="start">
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-card-actions>
	</mat-card>
</form>

<!--
	, 
	{
		path: 'Representatives',
		loadChildren: './Representatives/Representatives.module#RepresentativesModule'
	}
	-->