<form [formGroup]="myForm" dir="rtl" class='main-content'>
    <mat-card>
        <mat-card-header>
            <mat-card-title>صفحات القوائم</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-card>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- القائمة -->
                    <mat-form-field>
                        <input matInput type="text" placeholder="القائمة" aria-label="القائمة" [formControl]="get('SystemMenu')" #SystemMenu (focus)='SystemMenu_AutoComplete("")' [matAutocomplete]="SystemMenuAuto" required>
                        <mat-autocomplete #SystemMenuAuto="matAutocomplete" [displayWith]="displayText" (optionSelected)="onSystemMenuChanged($event)">
                            <mat-option *ngFor="let option of SystemMenuList" [value]="option">
                                {{ option.Name }}
                            </mat-option>
                        </mat-autocomplete>
                        <button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button aria-label="arrow_drop_down" (click)='SystemMenu_AutoComplete("")'>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- الصفحة -->
                    <mat-form-field>
                        <input matInput type="text" placeholder="الصفحة" aria-label="الصفحة" [formControl]="get('SystemPage')" #SystemPage (focus)='SystemPage_AutoComplete("")' [matAutocomplete]="SystemPageAuto" required>
                        <mat-autocomplete #SystemPageAuto="matAutocomplete" [displayWith]="displayText" (optionSelected)="onSystemPageChanged($event)">
                            <mat-option *ngFor="let option of SystemPageList" [value]="option">
                                <mark style='color: green'>
                                    {{ option.Code }}
                                </mark>
                                <span>
                                    {{ option.Name }}
                                </span>
                            </mat-option>
                        </mat-autocomplete>
                        <button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button aria-label="arrow_drop_down" (click)='SystemPage_AutoComplete("")'>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- مسلسل -->
                    <mat-form-field>
                        <input matInput (keyup.enter)="Display()" formControlName="Serial" type="number" placeholder="مسلسل">
                    </mat-form-field>
                </div>

                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <div fxFlex>
                        <app-toolbar SaveButton='true' (OnSave)='Save()' SearchButton='true' (OnSearch)='Display()' ClearButton='true' (OnClear)='Clear()'>
                        </app-toolbar>
                    </div>
                </div>
            </mat-card>
            <br>

            <div class="mat-elevation-z8" [formGroup]="myForm" flFlex flexLayout="row" flexLayout.lt-md="column">

                <mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>

                <table mat-table #table [dataSource]="dataSource" matSort>

                    <!-- RowNo Column -->
                    <ng-container matColumnDef="RowNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                        <td mat-cell *matCellDef="let row">
                            <div [class.editing]="row?.ID === SystemMenuPage?.ID">
                                <span *ngIf="row?.ID !== SystemMenuPage?.ID">{{ row.RowNo }}</span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- SystemMenuID Column -->
                    <ng-container matColumnDef="SystemMenuID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>القائمة</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.SystemMenu?.Name }}
                        </td>
                    </ng-container>


                    <!-- SystemPageID Column -->
                    <ng-container matColumnDef="SystemPageID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>الصفحة</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.SystemPage?.Name }}
                        </td>
                    </ng-container>


                    <!-- Serial Column -->
                    <ng-container matColumnDef="Serial">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>مسلسل</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.Serial }}
                        </td>
                    </ng-container>


                    <!-- Buttons -->
                    <ng-container matColumnDef="Links">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <ul>
                                <li>
                                    <a mat-icon-button (click)='Edit(row)' matTooltip='تعديل'>
                                        <mat-icon color="primary">edit</mat-icon>
                                    </a>
                                </li>
                                <li>
                                    <button mat-icon-button color="warn" matTooltip='حذف' (click)='Delete(row.ID)'>
                                        <mat-icon aria-label="delete">delete_forever</mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-actions>
    </mat-card>
</form>