<form [formGroup]="myForm" dir="rtl" class='main-content'>
	<mat-card>
		<mat-card-header>
			<mat-card-title>تسليم البطاقات للضامن</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="container">
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<!-- DocumentNo -->
					<mat-form-field fxFlex>
						<input matInput formControlName="DocumentNo" type="text" placeholder="رقم المستند">
						<mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
					</mat-form-field>
					<!-- DocumentDate -->
					<mat-form-field fxFlex>
						<input matInput [matDatepicker]="pickerDocumentDate" (focus)='pickerDocumentDate.open()'
							placeholder="تاريخ المستند" formControlName="DocumentDate" required>
						<mat-datepicker-toggle matSuffix [for]="pickerDocumentDate"></mat-datepicker-toggle>
						<mat-datepicker #pickerDocumentDate></mat-datepicker>
					</mat-form-field>

				</div>
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<!-- DocumentCode -->
					<mat-form-field fxFlex>
						<input matInput formControlName="DocumentCode" type="text" placeholder="كود المستند">
						<mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
					</mat-form-field>
					<!-- Guarantor -->
					<mat-form-field fxFlex>
						<input matInput type="text" placeholder="الضامن" aria-label="الضامن"
							[formControl]="get('Guarantor')" #Guarantor (focus)='Guarantor_AutoComplete("")'
							[matAutocomplete]="GuarantorAuto" required>
						<mat-autocomplete #GuarantorAuto="matAutocomplete" [displayWith]="displayText"
							(optionSelected)="onGuarantorChanged($event)">
							<mat-option *ngFor="let option of GuarantorList" [value]="option">
								{{ option.Name }}
							</mat-option>
						</mat-autocomplete>
						<button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button
							aria-label="arrow_drop_down" (click)='Guarantor_AutoComplete("")'>
							<mat-icon>arrow_drop_down</mat-icon>
						</button>
					</mat-form-field>

				</div>
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<!-- Notes -->
					<mat-form-field fxFlex>
						<input matInput formControlName="Notes" type="text" placeholder="ملاحظات">
						<mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
					</mat-form-field>
				</div>
			</div>

			<mat-tab-group>

				<!-- DeliveryCardDetail -->
				<mat-tab>
					<ng-template mat-tab-label> تفاصيل البطاقات المسلمة للضامن </ng-template>
					<div class='tab-content'>

						<table class='table table-bordered table-striped'>
							<thead>
								<tr>
									<th class='serial'>#</th>
									<!-- <th> البطاقة </th> -->
									<th> البطاقة </th>
                                    <th> نوع البطاقة </th>
                                    <th> كود البطاقة </th>
                                    <th> الاسم على البطاقة </th>
                                    <th> اسم صاحب البطاقة </th>
                                    <th> مصدر البطاقة </th>
                                    <th> البنك المصدر </th>
                                    <th> عملة البطاقة </th>
                                    <th> كلمة المرور</th>
									<th>
										<button mat-icon-button color='primary' (click)='add_DeliveryCardDetail()'
											matTooltip="إضافة صف جديد">
											<mat-icon>add</mat-icon>
										</button>
									</th>
								</tr>
							</thead>

							<tbody>
								<ng-container formArrayName="DeliveryCardDetail"
									*ngFor="let prop of formArray('DeliveryCardDetail').controls; let i = index;">
									<tr [formGroupName]="i" [class.deleted]="prop?.value?.Status === 3">
										<td class='serial'>
											{{i+1}}
										</td>
										<!-- ReceiveCardDetail -->
										<!-- <td>
											<mat-form-field>
												<input matInput type="text" aria-label="البطاقة"
													formControlName="ReceiveCardDetail" #ReceiveCardDetail
													[matAutocomplete]="ReceiveCardDetailAuto" required>
												<mat-autocomplete #ReceiveCardDetailAuto="matAutocomplete"
													[displayWith]="displayText"
													(optionSelected)="onReceiveCardDetailChanged($event, i)">
													<mat-option *ngFor="let option of ReceiveCardDetailList"
														[value]="option">
														{{ option.Name }}
													</mat-option>
												</mat-autocomplete>
												<button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button
													aria-label="arrow_drop_down"
													(click)='ReceiveCardDetail_AutoComplete("")'>
													<mat-icon>arrow_drop_down</mat-icon>
												</button>
											</mat-form-field>
										</td> -->

										<!-- Card -->
										<td>
											<mat-form-field>
												<input matInput type="text" aria-label="البطاقة " formControlName="Card"
													#Card [matAutocomplete]="CardAuto" (focus)='Card_AutoComplete("")' required>
												<mat-autocomplete #CardAuto="matAutocomplete"
													[displayWith]="displayCardNo"
													(optionSelected)="onCardChanged($event, i)">
													<mat-option *ngFor="let option of CardList" [value]="option">
														{{ option.CardNo }}
													</mat-option>
												</mat-autocomplete>
												<button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button
													aria-label="arrow_drop_down" (click)='Card_AutoComplete("")'>
													<mat-icon>arrow_drop_down</mat-icon>
												</button>
											</mat-form-field>
										</td><!--  CardType_Name -->
										<td>{{ prop?.value?.Card?.CardType?.Name }}</td>
										<!--  CardCode -->
										<td>{{ prop?.value?.Card?.CardCode }}</td>
										<!--  NameOnCard -->
										<td>{{ prop?.value?.Card?.NameOnCard }}</td>
										<!--  CardOwnerName -->
										<td>{{ prop?.value?.Card?.CardOwnerName }}</td>
										<!--  CardIssuer_Name -->
										<td>{{ prop?.value?.Card?.CardIssuer?.Name }}</td>
										<!--  Bank_Name -->
										<td>{{ prop?.value?.Card?.Bank?.Name }}</td>
										<!--  CardCurrency_Name -->
										<td>{{ prop?.value?.Card?.CardCurrency?.Name }}</td>
										<!-- CardPin -->
										<td>{{ prop?.value?.Card?.CardPin }}</td>
										<td>
											<button mat-icon-button color='warn' (click)='remove_DeliveryCardDetail(i)'
												matTooltip="حذف">
												<mat-icon class="red">delete_forever</mat-icon>
											</button>
										</td>

									</tr>
								</ng-container>
							</tbody>
						</table>

					</div>
				</mat-tab>

			</mat-tab-group>
		</mat-card-content>
		<mat-card-actions align="end">
			<app-toolbar [SaveButton]='!get("DocumentID").value' (OnSave)='Save()'
				[UpdateButton]='get("DocumentID").value' (OnUpdate)='Update()' [DeleteButton]='get("DocumentID").value'
				(OnDelete)='Delete()' NewButton='true' (OnNew)='New()' RefreshButton='true' (OnRefresh)='ngOnInit()'
				BackButton='true' BackTo="/CardsTransactions/DeliveryCards">
			</app-toolbar>
		</mat-card-actions>
	</mat-card>
</form>