<form [formGroup]="myForm" dir="rtl" class='main-content'>
    <mat-card>
        <mat-card-header>
            <mat-card-title>شراء عملة بمستند</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- DocumentNo -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="DocumentNo" type="text" placeholder="رقم المستند">
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>
                    <!-- DocumentDate -->
                    <mat-form-field fxFlex>
                        <input matInput [matDatepicker]="pickerDocumentDate" (focus)='pickerDocumentDate.open()' placeholder="تاريخ المستند" formControlName="DocumentDate" required>
                        <mat-datepicker-toggle matSuffix [for]="pickerDocumentDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDocumentDate></mat-datepicker>
                    </mat-form-field>
                    <!-- DocumentCode -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="DocumentCode" type="text" placeholder="كود المستند">
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- Currency -->
                    <mat-form-field fxFlex>
                        <input matInput type="text" placeholder="العملة" aria-label="العملة" [formControl]="get('Currency')" #Currency (focus)='Currency_AutoComplete("")' [matAutocomplete]="CurrencyAuto" required>
                        <mat-autocomplete #CurrencyAuto="matAutocomplete" [displayWith]="displayText" (optionSelected)="onCurrencyChanged($event)">
                            <mat-option *ngFor="let option of CurrencyList" [value]="option">
                                {{ option.Name }}
                            </mat-option>
                        </mat-autocomplete>
                        <button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button aria-label="arrow_drop_down" (click)='Currency_AutoComplete("")'>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- Amount -->
                    <mat-form-field fxFlex>
                        <input matInput id="Amount" formControlName="Amount" type="number" placeholder="المبلغ" required>
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>
                    <!-- BuyPrice -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="BuyPrice" type="number" placeholder="سعر الشراء" required (change)='Total_Calc()' (keyup)='Total_Calc()'>
                        <mat-icon matSuffix color='primary' class="mat-18">format_list_numbered</mat-icon>
                    </mat-form-field>
                    <!-- Total -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="Total" type="number" placeholder="الإجمالي" required (change)='Total_Changed()' (keyup)='Total_Changed()'>
                        <mat-icon matSuffix color='primary' class="mat-18">format_list_numbered</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- Buyer -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="Buyer" type="text" placeholder="البائع">
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>
                    <!-- Phone -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="Phone" type="text" placeholder="الهاتف">
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- XCommercialPaperType -->
                    <mat-form-field fxFlex>
                        <input matInput type="text" placeholder="نوع المستند البنكي" aria-label="نوع المستند البنكي" [formControl]="get('XCommercialPaperType')" #XCommercialPaperType (focus)='XCommercialPaperType_AutoComplete("")' [matAutocomplete]="XCommercialPaperTypeAuto"
                            required>
                        <mat-autocomplete #XCommercialPaperTypeAuto="matAutocomplete" [displayWith]="displayText" (optionSelected)="onXCommercialPaperTypeChanged($event)">
                            <mat-option *ngFor="let option of XCommercialPaperTypeList" [value]="option">
                                {{ option.Name }}
                            </mat-option>
                        </mat-autocomplete>
                        <button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button aria-label="arrow_drop_down" (click)='XCommercialPaperType_AutoComplete("")'>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- BankAccount -->
                    <mat-form-field fxFlex>
                        <input matInput type="text" placeholder="الحساب البنكي" aria-label="الحساب البنكي" [formControl]="get('BankAccount')" #BankAccount (focus)='BankAccount_AutoComplete("")' [matAutocomplete]="BankAccountAuto" required>
                        <mat-autocomplete #BankAccountAuto="matAutocomplete" [displayWith]="displayText" (optionSelected)="onBankAccountChanged($event)">
                            <mat-option *ngFor="let option of BankAccountList" [value]="option">
                                {{ option.Name }}
                            </mat-option>
                        </mat-autocomplete>
                        <button tabindex="-1" class="drop-down-arrow" matSuffix mat-icon-button aria-label="arrow_drop_down" (click)='BankAccount_AutoComplete("")'>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- BankDocumentNo -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="BankDocumentNo" type="text" placeholder="رقم المستند البنكي" required>
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>

                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <!-- Notes -->
                    <mat-form-field fxFlex>
                        <input matInput formControlName="Notes" type="text" placeholder="ملاحظات">
                        <mat-icon matSuffix color='primary' class="mat-18">text_fields</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <app-toolbar [SaveButton]='!get("DocumentID").value' (OnSave)='Save()' [UpdateButton]='get("DocumentID").value' (OnUpdate)='Update()' [DeleteButton]='get("DocumentID").value' (OnDelete)='Delete()' NewButton='true' (OnNew)='New()' RefreshButton='true'
                (OnRefresh)='ngOnInit()' BackButton='true' BackTo="/CurrencyExchange/ChequeBuyCurrenies">
            </app-toolbar>
        </mat-card-actions>
    </mat-card>
</form>