<form [formGroup]="myForm" dir="rtl" class='main-content'>
	<mat-card>
		<mat-card-header>
			<mat-card-title>العملات</mat-card-title>
		</mat-card-header>
		<mat-card-content>

			<mat-card>
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<!-- الوصف -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Name" type="text" placeholder="الوصف">
					</mat-form-field>
					<!-- الكود -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Code" type="text" placeholder="الكود">
					</mat-form-field>
					<!-- الرمز -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Symbole" type="text" placeholder="الرمز">
					</mat-form-field>
				</div>
		
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<div fxFlex>
						<app-toolbar AddNewButton='true' AddNewRoute="/Masters/Currencies/0" SearchButton='true'
							(OnSearch)='Display()' ClearButton='true' (OnClear)='Clear()'>
						</app-toolbar>
					</div>
				</div>
			</mat-card>
			<br>

			<div class="mat-elevation-z8" [formGroup]="myForm" flFlex flexLayout="row" flexLayout.lt-md="column">

				<mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>

				<table mat-table #table [dataSource]="dataSource" matSort>

					<!-- RowNo Column -->
					<ng-container matColumnDef="RowNo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
						<td mat-cell *matCellDef="let row">
							<div [class.editing]="row?.ID === Currency?.ID">
								<span *ngIf="row?.ID !== Currency?.ID">{{ row.RowNo }}</span>
							</div>
						</td>
					</ng-container>

					<!-- Name Column -->
					<ng-container matColumnDef="Name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الوصف</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Name }}
						</td>
					</ng-container>


					<!-- Code Column -->
					<ng-container matColumnDef="Code">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Code }}
						</td>
					</ng-container>


					<!-- Status Column -->
					<ng-container matColumnDef="Status">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>فعال</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Status }}
						</td>
					</ng-container>


					<!-- ChequeSellPrice Column -->
					<ng-container matColumnDef="ChequeSellPrice">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>سعر البيع - صك</th>
						<td mat-cell *matCellDef="let row">
							{{ row.ChequeSellPrice }}
						</td>
					</ng-container>


					<!-- Symbole Column -->
					<ng-container matColumnDef="Symbole">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الرمز</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Symbole }}
						</td>
					</ng-container>


					<!-- CashBuyPrice Column -->
					<ng-container matColumnDef="CashBuyPrice">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>سعر الشراء - نقدي</th>
						<td mat-cell *matCellDef="let row">
							{{ row.CashBuyPrice }}
						</td>
					</ng-container>


					<!-- CashSellPrice Column -->
					<ng-container matColumnDef="CashSellPrice">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>سعر البيع - نقدي</th>
						<td mat-cell *matCellDef="let row">
							{{ row.CashSellPrice }}
						</td>
					</ng-container>


					<!-- ChequeBuyPrice Column -->
					<ng-container matColumnDef="ChequeBuyPrice">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>سعر الشراء - صك</th>
						<td mat-cell *matCellDef="let row">
							{{ row.ChequeBuyPrice }}
						</td>
					</ng-container>


					<!-- Buttons -->
					<ng-container matColumnDef="Links">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<ul>
								<li>
									<a mat-icon-button routerLink="/Masters/Currencies/{{row.ID}}" matTooltip='تفاصيل'>
										<mat-icon color="primary">info_outline</mat-icon>
									</a>
								</li>
								<li>
									<button mat-icon-button color="warn" matTooltip='حذف' (click)='Delete(row.ID)'>
										<mat-icon aria-label="delete">delete_forever</mat-icon>
									</button>
								</li>
							</ul>
						</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</mat-card-content>
		<mat-card-actions align="start">
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-card-actions>
	</mat-card>
</form>

<!--
	, 
	{
		path: 'Currencies',
		loadChildren: './Currencies/Currencies.module#CurrenciesModule'
	}
	-->