ul {
    list-style: none;
    padding-bottom: 20px;
}

ul li {
    float: left;
    margin-right: 5px;
}


.word-color {
    color: #2196F3 !important;
}

.excel-color {
    color: green !important;
}

.pdf-color {
    color: maroon !important;
}