<form [formGroup]="myForm" dir="rtl" class='main-content'>
	<mat-card>
		<mat-card-header>
			<mat-card-title>صفحات النظام</mat-card-title>
		</mat-card-header>
		<mat-card-content>

			<mat-card>
				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<!-- الكود -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Code" type="text"
							placeholder="الكود">
					</mat-form-field>
					<!-- الاسم -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Name" type="text"
							placeholder="الاسم">
					</mat-form-field>
					<!-- رمز -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Icon" type="text" placeholder="رمز">
					</mat-form-field>
					<!-- تلميح -->
					<mat-form-field>
						<input matInput (keyup.enter)="Display()" formControlName="Hint" type="text"
							placeholder="تلميح">
					</mat-form-field>
				</div>

				<div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
					<div fxFlex>
						<app-toolbar SaveButton='true' (OnSave)='Save()' SearchButton='true' (OnSearch)='Display()'
							ClearButton='true' (OnClear)='Clear()'>
						</app-toolbar>
					</div>
				</div>
			</mat-card>
			<br>

			<div class="mat-elevation-z8" [formGroup]="myForm" flFlex flexLayout="row" flexLayout.lt-md="column">

				<mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>

				<table mat-table #table [dataSource]="dataSource" matSort>

					<!-- RowNo Column -->
					<ng-container matColumnDef="RowNo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
						<td mat-cell *matCellDef="let row">
							<div [class.editing]="row?.ID === SystemPage?.ID">
								<span *ngIf="row?.ID !== SystemPage?.ID">{{ row.RowNo }}</span>
							</div>
						</td>
					</ng-container>

					<!-- Code Column -->
					<ng-container matColumnDef="Code">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Code }}
						</td>
					</ng-container>


					<!-- Name Column -->
					<ng-container matColumnDef="Name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>الاسم</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Name }}
						</td>
					</ng-container>


					<!-- Icon Column -->
					<ng-container matColumnDef="Icon">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>رمز</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Icon }}
						</td>
					</ng-container>


					<!-- Hint Column -->
					<ng-container matColumnDef="Hint">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>تلميح</th>
						<td mat-cell *matCellDef="let row">
							{{ row.Hint }}
						</td>
					</ng-container>


					<!-- Buttons -->
					<ng-container matColumnDef="Links">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<ul>
								<li>
									<a mat-icon-button (click)='Edit(row)' matTooltip='تعديل'>
										<mat-icon color="primary">edit</mat-icon>
									</a>
								</li>
								<li>
									<button mat-icon-button color="warn" matTooltip='حذف' (click)='Delete(row.ID)'>
										<mat-icon aria-label="delete">delete_forever</mat-icon>
									</button>
								</li>
							</ul>
						</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</mat-card-content>
		<mat-card-actions align="start">
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-card-actions>
	</mat-card>
</form>

<!--
	, 
	{
		path: 'SystemPages',
		loadChildren: './SystemPages/SystemPages.module#SystemPagesModule'
	}
	-->